{% extends 'shopitapp/base.html' %}
{% load static %}

{% block title %} All phones {% endblock %}

{% block content %}

{% include "shopitapp/leaderboard.html" %}
<!-- <section>
    <div class="container my-5">
        <h4 class="mb-5 text-center"> All Phones </h4>
        <div class="row g-4">
            {% for phone in phonecategory %}
            <div class="col-md-3">
                <a href="{% url 'shopitapp:product-detail' phone.pk %}" class="featured-product">
                    <div class="card mx-auto" style="width: 18rem; height: 100%;">
                        <img src="{{ phone.product_image1.url }}" class="card-img-top img-fluid" alt=""
                            style="width:286px;height:180px;">
                        <div class="card-body">
                            <h5 class="card-text">{{ phone.title }}</h5>
                            <h6 class="card-text price-color">&#8358;{{ phone.price }}</h6>
                            <small class="text-muted">Last updated: {{ phone.updated_on }}</small>

                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section> -->

<!-- <section>
    <div class="container my-5">
        <h4 class="mb-3 text-center"> All Phones </h4>

        <section class="container">
            <div class="product-container mx-auto">
                <div class="row g-0">
                    {% for phone in phonecategory %}
                    <a href="{% url 'shopitapp:product-detail' phone.pk %}" class="featured-product">
                        <div class="prod-group d-flex my-2">
                            <div class="col-md-4 col-4">
                                <img src="{{ phone.product_image1.url }}" class="product-image">
                            </div>
                            <div class="col-md-8 col-8 product-content bg-warning">
                                <h5 class="card-text mt-2 prodtitle">{{ phone.title }}</h5>
                                <h5 class="card-text price-color">&#8358;{{ phone.price }}</h5>
                                <small class="text-muted date">Last updated: {{ phone.updated_on }}</small>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>

            </div>
        </section>
    </div>
</section> -->


<section class="container">
    <div class="product-container mx-auto px-0">
        {% for phone in phonecategory %}
        <div class="row g-0 mb-3">
            <div class="col-md-4 col-4 d-flex justify-content-center">
                <div class="product-image bg-info d-flex">
                    <img class="img-fluid" src="{{ phone.product_image1.url }}">
                </div>
            </div>
            <div class="col-md-8 col-8 bg-danger">
                <div class="product-content">
                    <a href="{% url 'shopitapp:product-detail' phone.pk %}" class="product-link">
                        <h5 class="product-tile">{{ phone.title }}</h5>
                    </a>
                    <h6 class="product-price">&#8358;{{ phone.price }}</h6>
                    <div class="product-content-bottom">
                        <div class="item1">
                            <p class="location text-muted"> <i class="fal fa-map-marker-alt fa-fw"></i>Lagos, Ikeja</p>
                        </div>
                        <div class="item2"><small class="date-updated text-muted">Updated:
                                {{ phone.updated_on }}</small></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}