{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'shopitapp/img/favicon.jpg' %}" type="image/jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- <link rel="stylesheet" href="{% static 'shopitapp/css/fontawesome.min.css' %}"> -->
    <link rel="stylesheet" href=" {% static 'shopitapp/css/styles.css' %} ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    {% block style %} {% endblock %}
    <title>{%  block title %} {% endblock %}</title>
</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container">
                        <a class="navbar-brand" href="{% url 'shopitapp:index' %}"><img
                                src="{% static 'shopitapp/img/main-logo.svg' %}" alt="shopit logo"></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse al justify-content-end" id="navbarNav">
                            <ul class="navbar-nav">

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle active" aria-current="page" href="#"
                                        id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Categories
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-light"
                                        aria-labelledby="navbarDarkDropdownMenuLink">
                                        <li><a class="dropdown-item" href="{% url 'shopitapp:all_phones' %}">Phones</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="{% url 'shopitapp:all_tablets' %}">Tablets</a></li>
                                        <li><a class="dropdown-item"
                                                href="{% url 'shopitapp:all_computers' %}">Computers</a>
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'shopitapp:all_tv' %}">Smart Tv</a>
                                        </li>
                                    </ul>
                                </li>

                                {% if user.is_authenticated %}

                                <li><a class="nav-link btn btn-light btn-sm text-dark px-2"
                                        href="{% url 'shopitapp:product-create' %}">
                                        <i class="fas fa-plus"></i> Sell Product</a> </li>

                                <li> <a class="nav-link text-warning" href="{% url 'users:profile' %}">Hello
                                        {{ user.username }}</a> </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout</a>
                                </li>




                                {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                                </li>
                                {% endif %}

                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            {% if messages %}
            {% for message in messages %}
            <div class="container">
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
            {% endif %}

            {% block content %}

            {% endblock %}

            <div class="footer fixed">
                <div class="container-fluid bg-dark">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <img src="{% static 'shopitapp/img/main-logo.svg' %}" alt="shopit-logo">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">How It Works ?</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
                integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
                crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
                integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
                crossorigin="anonymous">
            </script>
            <script src="{% static 'shopitapp/js/main.js' %}"></script>
        </div>
    </div>
</body>

</html>