{% load static %}

<section>

    <div class="container my-5 text-center">
        {% for lb in leaderbanner %}
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ lb.leaderbanner1.url }}" class="img-fluid" alt="banner1">
                </div>
                <div class="carousel-item">
                    <img src="{{ lb.leaderbanner2.url }}" class="img-fluid" alt="banner2">
                </div>
                <div class="carousel-item">
                    <img src="{{lb.leaderbanner3.url }}" class="img-fluid" alt="banner3">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</section>