{% load static %}

<section>
    <div class="container my-5 text-center">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static 'shopitapp/img/banner-1.jpg' %}" class="img-fluid" alt="banner1">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'shopitapp/img/banner-2.jpg' %}" class="img-fluid" alt="banner2">
                </div>
                <div class="carousel-item">
                    <img src="{% static 'shopitapp/img/banner-3.jpg' %}" class="img-fluid" alt="banner3">
                </div>
            </div>
        </div>
    </div>
</section>