{% extends 'shopitapp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Search Result {% endblock %}

{% block content %}

<div class="container my-5">
    <h3 class="text-center my-3">Search Result </h3>

    <form method="GET">
        {{ form|crispy }}
        <input class="btn btn-success my-1" type="submit" value="Search">
    </form>

    <section>
        <div class="container my-5">
            {% if q %}
            <p>
                {% with results.count as total_results %}
                Found {{ total_results }} result{{ total_results|pluralize }}
                {% endwith %}
            </p>
            {% endif %}

            <div class="row g-3">
                {% for r in results %}
                <div class="col-md-3">
                    <a href="{% url 'shopitapp:product-detail' r.pk %}" class="featured-product">
                        <div class="card mx-auto" style="width: 18rem; height: 100%;">
                            <img src="{{ r.product_image1.url }}" class="card-img-top" alt="products"
                                style="width:286px;height:180px;">
                            <div class="card-body">
                                <h5 class="card-text">{{r.title}}</h5>
                                <h6 class="card-text price-color">&#8358;{{r.price}}</h6>
                                <small class="text-muted">updated on {{ r.updated_on }}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% empty %}
                <p> There are no results for your query.</p>
                {% endfor %}
            </div>
        </div>

    </section>
</div>
{% endblock %}