{% extends 'shopitapp/base.html' %}
{% load static %}


{% block title %} Users product {% endblock %}

{% block content %}


{% include "shopitapp/leaderboard.html" %}


<section class="container mt-5">

    <!-- <h4 class="mb-3 text-center"> Post by {{ views.kwargs.agent.username }} ({{ page_obj.paginator.count }}) </h4> -->
    <h4 class="mb-3 text-center"> Products by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})
    </h4>

    <div class="product-container mx-auto px-0">
        {% for all in allproduct %}
        <div class="row g-0 mb-3">
            <div class="col-md-4 col-4 d-flex justify-content-center">
                <div class="product-image bg-info d-flex">
                    <img class="" src="{{ all.product_image1.url }}">
                </div>
            </div>
            <div class="col-md-8 col-8 bg-light">
                <div class="product-content">
                    <a href="{% url 'shopitapp:product-detail' all.pk  %}" class="product-link">
                        <h5 class="product-tile">{{ all.title }}</h5>
                    </a>
                    <h6 class="product-price">&#8358;{{ all.price }}</h6>
                    <div class="product-content-bottom">
                        <div class="item1">
                            <p class="location text-muted"> <i class="fal fa-map-marker-alt fa-fw"></i>Lagos, Ikeja</p>
                        </div>
                        <div class="item2"><small class="date-updated text-muted">Updated:
                                {{ all.updated_on }}</small></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- pagination here -->

<section class="container text-center">
    {% if is_paginated %}

    {% if page_obj.has_previous %}
    <a class="btn btn-outline-success mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.previous_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-success mb-4" href="?page={{ num }}"> {{ num }} </a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-success mb-4" href="?page={{ num }}"> {{ num }} </a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.next_page_number }}">Next </a>
    <a class="btn btn-outline-success mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% endif %}
</section>

{% endblock %}